body {
    background-color: #074407;
    font-family: Calleo-Regular, sans-serif;
  }
  
  table {
    background-color: #015c6a;
    font-family: Calleo-Regular, sans-serif;
    color:aliceblue;
  }
  
  canvas {
    background-color: aliceblue;
  }
  